[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-storages = "*"
celery = "*"
pillow = "*"
redis = "*"
python-dotenv = "*"
django-jazzmin = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.13"
